*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  background-color: #000000;

  background-image: url(image.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  display: flex;
  font-family: -apple-system, 
    BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto, 
    Oxygen-Sans, 
    Ubuntu, 
    Cantarell, 
    "Helvetica Neue", 
    sans-serif;
}

.underline {
  color: hsla(11, 49%, 71%, 0.5);
  text-shadow: #000 0px 0 0px;
  margin: 0 auto;
  text-align: center;
  font-style: italic;
}

.container {
  width: 750px;
  background-color: hsla(360, 100%, 0%, 0.25);
  border: 2px solid;
  border-radius: 25px;
  color: #d99e91;
  text-shadow: #FC0 0px 0 10px;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  vertical-align: top;  
}

h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
}

.li_timer {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  
  li {
    font-size: 1.125rem;
    padding: .75rem;
  }
  
  li span {
    font-size: 3.375rem;
  }
}

li {
  list-style-type: none
}

p {
  color: #d99e91;
  text-shadow: #FC0 0px 0 10px;
  padding-left: 10%;
  padding-right: 10%;
}

a{
  color:pink;
}

.emote{
  width: 3%;
  height: auto;
}